[Unit]
Description= pomotime as a service
ConditionPathExists= /root/go/src/github.com/galvinma/pomotime/

[Service]
Type=notify
WorkingDirectory= /root/go/src/github.com/galvinma/pomotime/
ExecStart= /root/go/src/github.com/galvinma/pomotime/main
WatchdogSec=10s
Restart=on-failure

[Install]
WantedBy=multi-user.target
