<!DOCTYPE html>
<html lang="en">

<head>

<!-- meta tag -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Simple Pomodoro Timer">
<meta name="keywords" content="Pomodoro, Pomodoro Timer, pomoti.me, Timer, Alarm, Pomodoro Method, Pomodoro Technique, pomotime">
<!-- fonts -->
<link href="https://fonts.googleapis.com/css?family=Noto+Serif|Roboto|Cormorant+Garamond" rel="stylesheet">

<!-- css -->
<link rel="stylesheet" href="/static/css/theme.css?v=1.0.0.1">

<!-- js -->
<script type="text/javascript" src="/static/js/HackTimer.min.js"></script>
<script type="text/javascript" src="/static/js/HackTimerWorker.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/static/js/theme.js?v=1.0.0.1"></script>
<script type="text/javascript" src="/static/js/easytimer.min.js"></script>


<!--- favicon -->
<link rel="icon" type="image/x-icon" href="/static/images/favicon.ico" />

</head>

<body>
    <title>pomoti.me</title>
    <div class="vert-space"></div>
    <div class="time-container">
      <div id="ta">
        <span class="minutes" style="float: left"></span>
        <span class="timespace" style="float: left">:</span>
        <span class="seconds" style="float: left"></span>
      </div>
    </div>
    <br>
    <div id="selector" class="alarm">
      <div class="button-wrapper">
        <input type="button" value="Pomodoro" onclick="pomoTime()" id="pomo">
        <div class="space"></div>
        <div class="button-spacer"></div>
        <input type="button" value="Short Break" onclick="shortTime()" id="short">
        <div class="space"></div>
        <div class="button-spacer"></div>
        <input type="button" value="Long Break" onclick="longTime()" id="long">
      </div>
    </div>
    <br>
    <div class="button-group-spacer"></div>
    <div class="alarm">
      <div class="button-wrapper">
        <input type="button" value="Start" onclick="alarmStart()" id="start">
        <div class="space"></div>
        <div class="button-spacer"></div>
        <input type="button" value="Stop" onclick="alarmStop()" id="stop">
        <div class="space"></div>
        <div class="button-spacer"></div>
        <input type="button" value="Resume" onclick="alarmResume()" id="resume">
        <div class="space"></div>
        <div class="button-spacer"></div>
        <input type="button" value="Reset" onclick="alarmReset()" id="reset">
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="footer">
        <p>
        <button onclick="showOptions()" id="showoptions" class="options-button">Show Options</button>
        <button onclick="hideOptions()" id="hideoptions" class="options-button">Hide Options</button>
        </p>
        <div id="contact">pomotime@protonmail.com</div>
        <p>If you like pomoti.me, please consider <button onclick="showCrypto()" class="donate-button">donating</button>.</p>
        <div id="ether">ether: 0x2Fd28424005a969Ac799953aF1e10E8A536DF8EE</div>
        <div id="btc">btc: 1PUknv1RUpN1zmVQhFDnLrtmn8hSdU1VUB</div>
    </div>
    <div class="button-group-spacer"></div>
    <div id="config">
      <div class="button-wrapper">
        <input type="button" value="Duration" onclick="cfgDuration()" id="duration">
        <div class="space"></div>
        <div class="button-spacer"></div>
        <input type="button" value="Volume" onclick="cfgVolume()" id="volume">
        <div class="space"></div>
        <div class="button-spacer"></div>
        <input type="button" value="Tone" onclick="cfgTone()" id="tone">
      </div>
    </div>
    <br>
    <div id="cfg_duration">
      <div class="duration-wrapper" id="duration-wrapper">
        <input type="text" value="Pomodoro (seconds)" id="pomodoro_time_set">
        <div class="space"></div>
        <div class="button-spacer"></div>
        <input type="text" value="Short (seconds)" id="short_time_set">
        <div class="space"></div>
        <div class="button-spacer"></div>
        <input type="text" value="Long (seconds)" id="long_time_set">
        <div class="space"></div>
        <div class="button-spacer"></div>
      </div>
      <div class="tone-wrapper" id="tone-wrapper">
        <input type="button" value="Simple" onclick="simpleTone()" id="simple_tone_set">
        <div class="smallspacer"></div>
        <input type="button" value="Metronome" onclick="metronomeTone()" id="metronome_tone_set">
        <div class="smallspacer"></div>
        <input type="button" value="Beep" onclick="beepTone()" id="beep_tone_set">
      </div>
      <div class="volume-wrapper" id="volume-wrapper">
        <input type="button" value="0%" onclick="volume0()" id="vol0">
        <div class="smallspacer"></div>
        <input type="button" value="25%" onclick="volume25()" id="vol25">
        <div class="smallspacer"></div>
        <input type="button" value="50%" onclick="volume50()" id="vol50">
        <div class="smallspacer"></div>
        <input type="button" value="75%" onclick="volume75()" id="vol75">
        <div class="smallspacer"></div>
        <input type="button" value="100%" onclick="volume100()" id="vol100">
      </div>
    </div>

    <script>
    // If start begin countdown
    $(document).ready(function(){
      alarmReset()
      pomoTime()
      // Create new timer
      var timer = new Timer();
      $('#start').click(function () {

        // Find active button
        var active = document.querySelectorAll(".active");

        if (active[0].id == "pomo") {
            timeleft = pomotime;
        }

        if (active[0].id == "long") {
            timeleft = longtime;
        }

        if (active[0].id == "short") {
            timeleft = shorttime;
        }

        // Start new timer

        timer.start({countdown: true, precision: 'seconds', startValues: {seconds: Number(timeleft)}});

        timer.addEventListener('secondsUpdated', function (e) {
            min = document.getElementById("ta").getElementsByClassName("minutes")[0];
            min.innerHTML = zeroPad(timer.getTimeValues().minutes, 2);

            sec = document.getElementById("ta").getElementsByClassName("seconds")[0];
            sec.innerHTML = zeroPad(timer.getTimeValues().seconds, 2);
        });

        timer.addEventListener('targetAchieved', function (e) {
            playTone()
            alarmReset()
        });
      });

      $('#stop').click(function () {
        timer.pause();
      });

      $('#resume').click(function () {
        timer.start();

        timer.addEventListener('secondsUpdated', function (e) {
            var min = document.getElementById("ta").getElementsByClassName("minutes")[0];
            min.innerHTML = zeroPad(timer.getTimeValues().minutes, 2);
            var sec = document.getElementById("ta").getElementsByClassName("seconds")[0];
            sec.innerHTML = zeroPad(timer.getTimeValues().seconds, 2);
        });

        timer.addEventListener('targetAchieved', function (e) {
            playTone()
            alarmReset()
        });
      });

      $('#reset').click(function () {
        timer.stop();
      });

    });

    // return an inputted time in min/sec
    function convertTime(duration) {
        var min = Math.floor(duration / 60);
        var sec = duration - min * 60;
        return [min,sec];
    };
    // pad results for display
    function zeroPad(num, places) {
      var zero = places - num.toString().length + 1;
      return Array(+(zero > 0 && zero)).join("0") + num;
    }

    function alarmStart() {
      $('#start').addClass("disabled")
      $('#stop').removeClass("disabled")

      $('#pomo').addClass("disabled")
      $('#short').addClass("disabled")
      $('#long').addClass("disabled")
      }

    function alarmStop() {
      $('#reset').removeClass("disabled")
      $('#resume').removeClass("disabled")
      $('#stop').addClass("disabled")
    }

    function alarmResume() {
      $('#resume').addClass("disabled")
      $('#reset').addClass("disabled")
      $('#stop').removeClass("disabled")
    }

    function alarmReset() {
      $('#reset').addClass("disabled")
      $('#resume').addClass("disabled")
      $('#stop').addClass("disabled")
      $('#start').removeClass("disabled")

      $('#pomo').removeClass("disabled")
      $('#short').removeClass("disabled")
      $('#long').removeClass("disabled")

      var ta = document.getElementById("ta");

      var active = document.getElementById("pomo");
      if (active.className == "active") {
          var min = document.getElementById("ta").getElementsByClassName("minutes")[0];
          min.innerHTML = zeroPad(convertTime(pomotime)[0], 2);
          var sec = document.getElementById("ta").getElementsByClassName("seconds")[0];
          sec.innerHTML = zeroPad(convertTime(pomotime)[1], 2);
          $('#pomo').addClass("disabled")
      }

      var active = document.getElementById("long");
      if (active.className == "active") {
          var min = document.getElementById("ta").getElementsByClassName("minutes")[0];
          min.innerHTML = zeroPad(convertTime(longtime)[0], 2);
          var sec = document.getElementById("ta").getElementsByClassName("seconds")[0];
          sec.innerHTML = zeroPad(convertTime(longtime)[1], 2);
          $('#long').addClass("disabled")
      }

      var active = document.getElementById("short");
      if (active.className == "active") {
          var min = document.getElementById("ta").getElementsByClassName("minutes")[0];
          min.innerHTML = zeroPad(convertTime(shorttime)[0], 2);
          var sec = document.getElementById("ta").getElementsByClassName("seconds")[0];
          sec.innerHTML = zeroPad(convertTime(shorttime)[1], 2);
          $('#short').addClass("disabled")
      }
    }

    function pomoTime() {
      $('#pomo').addClass("disabled")
      $('#short').removeClass("disabled")
      $('#long').removeClass("disabled")

      $('#pomo').addClass("active")
      $('#long').removeClass("active")
      $('#short').removeClass("active")

      var min = document.getElementById("ta").getElementsByClassName("minutes")[0];
      min.innerHTML = zeroPad(convertTime(pomotime)[0], 2);
      var sec = document.getElementById("ta").getElementsByClassName("seconds")[0];
      sec.innerHTML = zeroPad(convertTime(pomotime)[1], 2);
    }

    function shortTime() {
      $('#short').addClass("disabled")
      $('#pomo').removeClass("disabled")
      $('#long').removeClass("disabled")

      $('#short').addClass("active")
      $('#long').removeClass("active")
      $('#pomo').removeClass("active")

      var min = document.getElementById("ta").getElementsByClassName("minutes")[0];
      min.innerHTML = zeroPad(convertTime(shorttime)[0], 2);
      var sec = document.getElementById("ta").getElementsByClassName("seconds")[0];
      sec.innerHTML = zeroPad(convertTime(shorttime)[1], 2);

    }

    function longTime() {
      $('#long').addClass("disabled")
      $('#pomo').removeClass("disabled")
      $('#short').removeClass("disabled")

      $('#long').addClass("active")
      $('#short').removeClass("active")
      $('#pomo').removeClass("active")

      var min = document.getElementById("ta").getElementsByClassName("minutes")[0];
      min.innerHTML = zeroPad(convertTime(longtime)[0], 2);
      var sec = document.getElementById("ta").getElementsByClassName("seconds")[0];
      sec.innerHTML = zeroPad(convertTime(longtime)[1], 2);

    }

    function cfgDuration() {
      $('#duration').addClass("disabled")
      $('#volume').removeClass("disabled")
      $('#tone').removeClass("disabled")

      $("#duration-wrapper").show();
      $("#volume-wrapper").hide();
      $("#tone-wrapper").hide();

    }

    function cfgVolume() {
      $('#duration').removeClass("disabled")
      $('#volume').addClass("disabled")
      $('#tone').removeClass("disabled")

      $("#duration-wrapper").hide();
      $("#volume-wrapper").show();
      $("#tone-wrapper").hide();

    }

    function cfgTone() {
      $('#duration').removeClass("disabled")
      $('#volume').removeClass("disabled")
      $('#tone').addClass("disabled")

      $("#duration-wrapper").hide();
      $("#volume-wrapper").hide();
      $("#tone-wrapper").show();

    }

    function showCrypto() {
        document.getElementById("ether").style.visibility = "visible";
        document.getElementById("btc").style.visibility = "visible";
    };

    function showOptions() {
        document.getElementById("config").style.visibility = "visible";
        document.getElementById("cfg_duration").style.visibility = "visible";
        $("#showoptions").hide();
        $("#hideoptions").show();
        $("#config").show();

        cfgDuration()

    };

    function hideOptions() {
        document.getElementById("config").style.visibility = "hidden";
        document.getElementById("cfg_duration").style.visibility = "hidden";
        $("#showoptions").show();
        $("#hideoptions").hide();

    };
    // Global Volume and Tones
    var volume = 1.0;
    var audio_selection = "simple";
    var simple = new Audio('static/audio/tone.mp3');
    var metronome = new Audio('static/audio/metronome.wav');
    var beep = new Audio('static/audio/beep.mp3');

    // Global time settings
    var pomotime = 1500;
    var longtime = 600;
    var shorttime = 300;

    // Set Audio
    function simpleTone() {
        audio_selection = "simple";
        playTone()
      }
    function beepTone() {
        audio_selection = "beep";
        playTone()
      }
    function metronomeTone() {
        audio_selection = "metronome";
        playTone()
      }

    // Set Volume
    function volume0() {
        volume = 0.0;
        playTone()
      }
    function volume25() {
        volume = 0.3;
        playTone()
      }
    function volume50() {
        volume = 0.5;
        playTone()
      }
    function volume75() {
        volume = 0.7;
        playTone()
      }
    function volume100() {
        volume = 1.0;
        playTone()
      }

      $('#pomodoro_time_set').keydown(function (event) {
            var keypressed = event.keyCode || event.which;
            if (keypressed == 13) {
              pomotime = document.getElementById("pomodoro_time_set").value;
              pomoTime()
            }
        });
      $('#short_time_set').keydown(function (event) {
            var keypressed = event.keyCode || event.which;
            if (keypressed == 13) {
              shorttime = document.getElementById("short_time_set").value;
              shortTime()
            }
        });
      $('#long_time_set').keydown(function (event) {
            var keypressed = event.keyCode || event.which;
            if (keypressed == 13) {
              longtime = document.getElementById("long_time_set").value;
              longTime()
            }
        });

    function playTone() {
        if (audio_selection == "simple") {
          simple.volume = volume;
          simple.play();
          console.log("Playing simple sound.")
        }
        if (audio_selection == "metronome") {
          metronome.volume = volume;
          metronome.play();
          console.log("Playing metronome sound.")
        }
        if (audio_selection == "beep") {
          beep.volume = volume;
          beep.play();
          console.log("Playing beep sound.")
        }
    };
    </script>

</body>

</html>
